.card {
  position: relative;
  width: 100%;
  max-width: 900px; /* Máximo ancho de la tarjeta */
  margin: 0 auto; /* Centrar la tarjeta */
  padding: 0 20px; /* Agregar un poco de espacio a los lados */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  display: none;
  text-align: center;
  box-sizing: border-box;
}

.card.active {
  display: block;
}

.card h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  margin-bottom: 100px;
}

.card p {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

.card button {
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.card button:hover {
  background-color: #3e8e41;
}


.resultado {
  position: relative;
  width: 100%;
  max-width: 900px; /* Máximo ancho de la tarjeta */
  margin: 0 auto; /* Centrar la tarjeta */
  padding: 0 20px; /* Agregar un poco de espacio a los lados */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  display: none;
  text-align: center;
  box-sizing: border-box;
}

.resultado.active {
  display: block;
}

.resultado h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  margin-bottom: 100px;
}

.resultado p {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

.resultado button {
  font-family: 'Poppins', sans-serif;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.resultado button:hover {
  background-color: #3e8e41;
}


#result-container {
  
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  text-align: center;
  text-size-adjust: auto;
}

#result-container p {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
  
}

.cerrar-btn.active {
  display: block;
}


.progress-bar {
  background-color: #3bdd50;
  border-radius: 10px;
  height: 15px;
  margin-right: auto;
  margin-bottom: 30px;
  overflow: hidden;
}

.progress-bar div {
  background-color: #4CAF50;
  height: 100%;
  transition: width 10s;
}

.cerrar-btn {
  font-family: 'Poppins', sans-serif;
  position: fixed;
  bottom: 20px;
  left: 60px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ff2929;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  
}
.cerrar-btn:hover {
  background-color: #ff3535; /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.cerrar-btn:active {
background-color: #ff4747;
box-shadow: 0 5px #666;
transform: translateY(4px);
}

#next-button {
  font-family: 'Poppins', sans-serif;
  position: fixed;
  bottom: 20px;
  right: 60px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#next-button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#next-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#finalizar {
  font-family: 'Poppins', sans-serif;
  display: absolute;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ff3b3b;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#finalizar:hover {
  background-color: #f74f4f; /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#finalizar:active {
background-color: #ff4343;
box-shadow: 0 5px #666;
transform: translateY(4px);
}