<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lebrain-NEI34</title>

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">      
    <link rel="stylesheet" href="../../actividades/memorama/css/style.css">


    <script src="../js/app.js"></script>
    <!--Tipo de letra-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Tilt+Neon&display=swap" rel="stylesheet">
</head>
<body>
    <div id="loader"></div>
    <div id="card-container">            
        <div class = "conteinerBotonBarra">
            <a href="../negociosElectronicos1.html"><button class="boton_x">X</button></a>
            <div class="progress bar-pro" style="height: 18px;">
                <div class="progress-bar progre" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ></div>
            </div>
        </div> 

        <div class="card active">
            <h2>Tipos de negocios electrónicos de acuerdo a su función</h2>
            <p>Estos negocios pueden variar desde pequeñas operaciones en línea hasta grandes empresas de comercio electrónico que venden productos y servicios a nivel mundial.<br> Dependiendo de su función en la cadena de valor, los negocios electrónicos se pueden clasificar en diferentes tipos, como los que se enfocan en la venta directa de productos, la intermediación entre compradores y vendedores o la publicidad en línea, entre otros.</p>
            <img class="img-1" src="../../../images/bubble-gum-artificial-intelligence.svg">
        </div>

        <div class="card"> 
            <h2>Tiendas Electronicas</h2>
            <p>Las tiendas electrónicas son uno de los tipos de negocios electrónicos más comunes y populares en la actualidad.<br>Las tiendas electrónicas pueden ser de dos tipos: independientes o integradas. Las tiendas independientes son aquellas que tienen su propio sitio web y no están integradas en otra plataforma. Por otro lado, las tiendas integradas son aquellas que se integran en una plataforma de comercio electrónico existente, como Amazon o eBay.</p>
            <img class="img-1" src="https://img.icons8.com/color/240/amazon.png" alt="amazon"/>
        </div>

        <div class="card">
            <h2>Subastas electrónicas</h2>
            <p>Son un tipo de negocio electrónico que se enfoca en la venta de productos o servicios mediante una plataforma de subasta en línea. En este modelo de negocio, los vendedores pueden ofrecer sus productos o servicios para la venta y los compradores pueden pujar por ellos, y aquel que realice la oferta más alta al final de la subasta será el ganador del producto o servicio en cuestión.</p>
            <img class="img-1" src="https://img.icons8.com/color/240/ebay.png" alt="ebay"/>
        </div>

        <div class="card">
            <h2>Centros comerciales</h2>
            <p>los centros comerciales virtuales son plataformas en línea que ofrecen una variedad de productos y servicios de diferentes vendedores y marcas en un solo lugar. Estas plataformas se asemejan a los centros comerciales físicos tradicionales, ya que ofrecen una amplia gama de opciones de compra en un solo lugar, con la diferencia de que los productos y servicios se venden en línea.</p>
            <img class="img-1" src="https://img.icons8.com/color/240/amazon.png" alt="amazon"/>
        </div>

        <div class="card">
          <h2>Escaparate de marketing</h2>
          <p>Se enfoca en la exhibición de productos o servicios en línea. Es similar a una tienda en línea, pero se centra más en mostrar los productos o servicios de una manera atractiva y persuasiva para los clientes potenciales.<br>El objetivo del escaparate de marketing es crear una experiencia de compra emocionante e inspiradora para los clientes. A menudo se utilizan técnicas de marketing como el uso de imágenes atractivas, descripciones detalladas de los productos o servicios y la integración de testimonios de clientes satisfechos para persuadir a los clientes potenciales a realizar una compra.</p>
          <img class="img-1" src="../../../images/sammy-38.svg"/>
        </div>

        <div class="card">
          <h2>Comunidades virtuales</h2>
          <p>Las comunidades virtuales son una herramienta poderosa para el marketing y las ventas en línea, ya que permiten a las empresas conectarse directamente con su público objetivo y obtener información valiosa sobre sus necesidades y preferencias. Además, estas comunidades pueden ser utilizadas para fomentar la lealtad de los clientes y construir relaciones duraderas con ellos.<br>Algunos ejemplos de comunidades virtuales incluyen Reddit, LinkedIn, Facebook Groups, Twitter, Instagram y muchos otros.</p>
          <img class="img-1" src="https://img.icons8.com/color/240/facebook-new.png"/>
        </div>

        <div class="card">
          <h2>Las licitaciones electrónicas</h2>
          <p>Son un tipo de negocio electrónico en el cual el proceso de licitación se realiza de manera totalmente online. En lugar de tener que asistir a una reunión física para obtener información y presentar una oferta, las empresas pueden hacerlo en línea a través de una plataforma digital. Esto hace que el proceso sea más eficiente y transparente, ya que todas las ofertas y la información se almacenan en un solo lugar y pueden ser accedidas por todos los participantes. Las licitaciones electrónicas se utilizan comúnmente en contratos gubernamentales y en la industria de la construcción, pero también pueden ser utilizadas en cualquier tipo de negocio en el que se necesite un proceso de licitación.</p>
          <img class="img-1" src="../../../images/morphis-smartphone-settings-and-options.svg"/>
        </div>

        <div class="card">
          <h2>Proveedores de servicios en la cadena de valor</h2>
          <p>Los proveedores de servicios en la cadena de valor se enfocan en brindar servicios de soporte a las empresas que operan en línea. Esto puede incluir servicios de alojamiento web, procesamiento de pagos, servicios de seguridad en línea, marketing digital, logística y envío, entre otros.</p>
          <img class="img-1" src="https://img.icons8.com/color/240/amazon-web-services.png" alt="amazon-web-services"/>
        </div>

        <div class="card">
          <h2>Integradores de la cadena de Valor</h2>
          <p>Los integradores de la cadena de valor en las empresas electrónicas son empresas que ayudan a otras empresas a desarrollar e implementar sus estrategias comerciales electrónicas. Lo hacen proporcionando una variedad de servicios <br>l proporcionar una variedad de servicios, los integradores pueden ayudar a las empresas a ahorrar tiempo y dinero, y a evitar los riesgos asociados con la implementación de sistemas comerciales electrónicos por su cuenta.</p>
          <img class="img-1" src="../../../images/urban-individual-seeking-help.svg"/>
        </div>

        <div class="card">
          <h2>Las plataformas de colaboración</h2>
          <p>Son aplicaciones de software que permiten a las personas trabajar juntas en proyectos y tareas. Proporcionan una variedad de características que pueden ayudar a mejorar la colaboración<br>Pueden ser una herramienta valiosa para empresas de todos los tamaños. Pueden ayudar a mejorar la comunicación, la productividad y la eficiencia.</p>
          <img class="img-1" src="../../../images/martina-people-communicate-in-a-group-chat.svg"/>
        </div>
        
        <div class="card">
            <main role="main" class="container-fluid" id="app">
                <div class="row">
                  <div class="col-12">
                    <h1 class="text-center">Juego de memorama</h1>
                    <p>
                      <span class="h5">Intentos: </span>{{intentos}}/{{MAXIMOS_INTENTOS}}&nbsp;<span class="h5">Aciertos:</span> {{aciertos}}
                    </p>
                  </div>
                </div>
                <div v-for="(fila, indiceFila) in memorama" :key="indiceFila" class="row">
                  <div :key="indiceFila+''+indiceImagen" class="col-12 col-md-3" v-for="(imagen, indiceImagen) in fila">
                    <div class="mb-1 img-container">
                      <img @click="voltear(indiceFila, indiceImagen)" :class="{'girar': imagen.mostrar}" :src="(imagen.mostrar ? imagen.ruta : NOMBRE_IMAGEN_OCULTA)" class="card-img-top img-fluid img-thumbnail">
                    </div>
                  </div>
                </div>
              </main>
        </div>

        
        <div class="card Felicidades active">
            <h2>Felicidades, llegaste al final.</h2>
            <h3>Vamos a realizar una pequeña prueba para reforzar lo aprendido:</h2>
            <div class="contFeliz">
                <ul class="indicaciones">
                    <li>10 Preguntas (20 segundos cada una)</li>
                    <li>10 Puntos por pregunta correcta</li>
                    <li>200 segundos en el reloj</li>
                    <li>Preguntas aleatorias</li>
                    <li>Tu resultado al final</li>
                </ul>
                <img class = "img-2" src="../../../images/bubble-gum-done.svg"></img>
            </div>
        </div>  
        <div class = "contBotonSig"><button id="next-button" type="button">Siguiente</button></div>
    </div>
</body>
<!-- archivos javascript. conservar orden -->
<script type="text/javascript" src="../../actividades/memorama/js/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="../../actividades/memorama/js/vue.min.js"></script>
<script type="text/javascript" src="../../actividades/memorama/js/script.js"></script>


</html>